@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

body{
    font-family: "Open Sans", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.navbar__logo a{
    text-decoration: none;
    color: black;
    font-size: 26px;
}

.navbar__menu{
    list-style: none;
    display: flex;
}

.navbar__item{
    position: relative;
}

.navbar__item:not(:first-child){
    margin-left: 30px;
}

.navbar__item a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}


.submenu{
    border-radius: 5px;
    position: absolute;

    right: 0;
    top: calc(100% + 26px);
    max-width: max-content;
    display: flex;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}



.submenu img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 5px;
}

 .submenu__item .icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.submenu__itens {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:50px;
}

.submenu__item h4{
    font-weight: 400;
}

.submenu__item{
    display: flex;
    align-items: center;
    width: max-content;  /* faz o texto ficar em apenas uma linha*/
    transition:  background-color 0.2s; 
    padding: 5px;
    cursor: pointer;
}


.submenu__item:hover{
    background-color: #eee;
    border-radius: 5px;
}